@font-face{
    font-family: 'Montserrat';
    src: url(./font/Montserrat-Regular.ttf);
}
 @font-face {
    font-family: 'Antic Slab';
    src: url(font/AnticSlab-Regular.ttf);
 }

 @font-face {
   
     font-family: 'Raleway';
src: url(font/Raleway-Regular.ttf);

 }
   

